<?xml version="1.0"?>

<configuration>

  <appSettings configSource="App_Data\FileVista.config" />

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="FileVistaPublicLinkHandler" verb="*" path="public" type="GleamTech.FileVista.PublicLinkHandler" preCondition="integratedMode"/>
      <add name="OldFileVistaPublicLinkHandler" verb="*" path="link" type="GleamTech.FileVista.PublicLinkHandler" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <system.web>
    <authentication mode="None" />
    <identity impersonate="false" />
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" />
    <pages>
      <controls>
        <add tagPrefix="GleamTech" namespace="GleamTech.FileUltimate" assembly="GleamTech.FileVista" />
      </controls>
    </pages>
      <customErrors mode="Off"/>
  </system.web>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.VistaDB" />
      <add name="VistaDB 4" description="VistaDB 4 ADO.NET Provider for .Net" invariant="System.Data.VistaDB" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.4, Version=4.1.0.0, Culture=neutral, PublicKeyToken=dfc935afe2125461" />
    </DbProviderFactories>
  </system.data>

  <!-- 
    Html4 upload method requires the limits to be set to the maximum value (2 GB).
    Other upload methods use chunking so there is no 2GB limit for them.
  -->
  <location path="fileuploader.ashx">
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 
            Maximum value for maxAllowedContentLength (in bytes) is 2147483648 (2GB). 
            maxAllowedContentLength should be always equal to (or greater than) maxRequestLength x 1024.
          -->
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
    </system.webServer>
    <system.web>
      <!-- Maximum value for maxRequestLength (in kilobytes) is 2097152 (2GB) -->
      <httpRuntime maxRequestLength="2097152" />
    </system.web>
  </location>

</configuration>
