<?xml version="1.0"?>
<appSettings>
  <add key="Provider" value="System.Data.SqlClient" />
  <add key="ConnectionString" value="Data Source=brain1; Initial Catalog=FTR; Integrated Security=SSPI;" />
  <add key="DatabaseVersion" value="6.0" />
  <add key="AuthenticationKey" value="017390AA3D823229A41F7889C6BF99876FD0C7229DD67C190D55277BA7FEFA08" />
  <add key="RecoveryMode" value="0" />
</appSettings>